---
import { For } from "@astropub/flow";

import Layout from "../../layouts/Layout.astro";
import TriviaItem from "../../components/Trivia/TriviaItem.astro";
import TimeupsOverlay from "../../components/Overlays/TimeupsOverlay.astro";
import TriviaLostOverlay from "../../components/Trivia/TriviaLostOverlay.astro";
import TriviaWonOverlay from "../../components/Trivia/TriviaWonOverlay.astro";
import { triviaTwoData } from "../../data/triviaTwoData";
import TriviaStartOverlay from "../../components/Trivia/TriviaStartOverlay.astro";
import IntroText from "../../components/Shared/IntroText.astro";
import Timer from "../../components/Round/Timer.astro";
import TriviaWonLPOverlay from "../../components/Trivia/TriviaWonLPOverlay.astro";
import { shuffleArray } from "../../utils/share/shuffleArray";

const randomizedTriviaData = shuffleArray(triviaTwoData);
---

<Layout title="Trivia Runde 2" showUserLink={false}>
  <div slot="left-headercol"></div>

  <TriviaStartOverlay
    question="Das Design Studio welchen Plattencovers hat außerdem auch das Logo des Musiksenders MTV gestaltet?"
  />

  <TimeupsOverlay url="/trivia/trivia-two-solution" />

  <TriviaLostOverlay url="/trivia/trivia-two-solution" />

  <TriviaWonOverlay url="/trivia/trivia-two-solution" />

  <TriviaWonLPOverlay url="/trivia/trivia-two-solution" />

  <IntroText
    headline="Runde 2 / 3 – Trivia Frage"
    subline="Das Design Studio welchen Plattencovers hat außerdem auch das Logo des Musiksenders MTV gestaltet?"
    whiteText=""
    isSmallHeadline={true}
    isWhiteSubline={true}
  />

  <div class="trivia">
    <For of={randomizedTriviaData}>
      {
        (item: any) => (
          <div class={item.type}>
            <TriviaItem band={item.band} album={item.album} image={item.coverSrc} />
          </div>
        )
      }
    </For>
  </div>

  <Timer minutes="00" seconds="15" showFinishButton={false} />
</Layout>

<style>
  .trivia {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-1) var(--spacing-spacing-xl) var(--spacing-15) var(--spacing-spacing-xl);
    align-items: center;
    justify-content: center;
    gap: var(--spacing-spacing-xl);
  }
</style>

<script>
  // Import functions from the utils directory
  import { updateTime } from "../../utils/share/updateTime";
  import { handleWonClick } from "../../utils/trivia/handleWonClick";
  import { initLostOverlay } from "../../utils/trivia/initLostOverlay";

  // Get DOM elements
  const overlayTimeUp = document.getElementById("timupsOverlay") as HTMLElement;
  const overlayStart = document.getElementById("overlayStart") as HTMLElement;
  const overlayLost = document.getElementById("overlayLost") as HTMLElement;
  const overlayWon = document.getElementById("overlayWon") as HTMLElement;
  const gameButton = document.getElementById("gameButton") as HTMLElement;

  // Set the initial time remaining and timer interval
  let timeRemaining = 15;
  let timerInterval: number | null = null;

  /**
   * Add an event listener to the window load event
   * This function is called when the page has finished loading
   * It initializes the trivia game and sets the initial state of the overlays
   */
  window.addEventListener("load", function (_event: Event): void {
    // Hide the timer overlay and show the start overlay
    overlayTimeUp.style.visibility = "hidden";
    overlayLost!.style.visibility = "hidden";
    overlayWon!.style.visibility = "hidden";
    overlayStart.style.visibility = "visible";

    // Add a click event listener to the game button
    gameButton.addEventListener("click", startTimer);

    // Add a click event listener to the "won" button
    // When the "won" button is clicked, call the handleWonClick function with the timer interval and the current points
    document
      .querySelector(".trivia .won")!
      .addEventListener("click", () =>
        handleWonClick(timerInterval, "PointsRound2", "allCorrectRound2", "triviaRound2Won")
      );

    // Initialize the lost overlay
    initLostOverlay(timerInterval, "triviaRound2Won");
  });

  /**
   * Start the timer by setting an interval to call the updateTime function every second
   * The updateTime function updates the timer display and checks if the timer has reached zero
   * If the timer has reached zero, it hides the timer overlay
   */
  function startTimer() {
    // Set an interval to call the updateTime function every second
    timerInterval = window.setInterval(() => {
      // Call the updateTime function with the current timeRemaining value
      updateTime(timeRemaining);

      // Decrement the timeRemaining value and check if it has reached zero
      if (--timeRemaining < 0) {
        // If the timer has reached zero, hide the timer overlay
        // Clear the timer interval to stop the timer
        clearInterval(timerInterval!);
        overlayTimeUp.style.visibility = "visible";
      }
    }, 1000);

    // Hide the start overlay to show the gameboard
    overlayStart.style.visibility = "hidden";
  }
</script>
