---
import { Icon } from "astro-icon/components";
import ResultItem from "../../components/ResultItem.astro";
import Layout from "../../layouts/Layout.astro";
import Blink182Cover from "../../assets/bandcover/blink182.jpeg";
import DavidBowieCover from "../../assets/bandcover/davidBowie.jpg";
import AvrilLavigneCover from "../../assets/bandcover/avrilLavigne.jpeg";
import RedHotChiliPeppersCover from "../../assets/bandcover/redHotChiliPeppers.jpg";
import Button from "../../components/Button.astro";
---

<Layout title="Result Runde 3 False">
  <div slot="left-headercol"></div>

  <div class="introText">
    <div class="headline">Runde 3 / 3 – Ergebnisse</div>
    <div class="subline">Sortieren Sie nach der Gesamtlänge!</div>
  </div>

  <div class="results">
    <ResultItem
      order={1}
      band="Red Hot Chilli Peppers"
      album="Stadium Acradium"
      year="2:02:21"
      image={RedHotChiliPeppersCover}
    />
    <ResultItem isError={true} order={2} band="David Bowie" album="Hunky Dory" year="41:37" image={DavidBowieCover} />
    <ResultItem isError={true} order={3} band="Avril Lavigne" album="Let Go" year="48:37" image={AvrilLavigneCover} />
    <ResultItem order={4} band="blink-182" album="Enema of the State" year="35:18" image={Blink182Cover} />
  </div>

  <div class="points">
    <Icon name="coin" width={48} height={48} />
    <span class="point">50</span>

    <div class="finishButton">
      <Button url="/trivia/trivia-three" />
    </div>
  </div>
</Layout>

<style>
  .introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-2);
    margin-bottom: var(--spacing-spacing-md);
  }

  .headline {
    color: var(--colour-text-secondary);
    leading-trim: both;
    text-edge: cap;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .subline {
    color: var(--colour-text-primary);
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .results {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-1) var(--spacing-spacing-xl) var(--spacing-15) var(--spacing-spacing-xl);
    align-items: center;
    justify-content: center;
    gap: var(--spacing-spacing-xl);
  }
  .finishButton {
    margin-left: var(--spacing-spacing-md);
  }

  .points {
    padding: 24px 20px 23px 112px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
    color: var(--colour-text-primary);
    leading-trim: both;
    text-edge: cap;
  }

  .point {
    display: block;
    margin-left: var(--spacing-spacing-s);
  }
</style>
