---
import Layout from "../../layouts/Layout.astro";
import Points from "../../components/Result/Points.astro";
import IntroText from "../../components/Shared/IntroText.astro";
---

<Layout title="Result Runde 3">
  <div slot="left-headercol"></div>

  <IntroText
    headline="Runde 3 / 3 – Ergebnisse"
    subline="Sortieren Sie nach der"
    whiteText="Gesamtlänge!"
    isSmallHeadline={true}
    isWhiteSubline={true}
  />

  <div class="results" id="results-container"></div>

  <Points />
</Layout>

<style>
  .results {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-1) var(--spacing-spacing-xl) var(--spacing-15) var(--spacing-spacing-xl);
    align-items: center;
    justify-content: center;
    gap: var(--spacing-spacing-xl);
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    updateCurrentPoints();
    populateResults();
    setupFinishButton();
  });

  /**
   * Sets up the event listener for the "Finished" button click event.
   * When the button is clicked, it calls the `handleFinishedButtonClick` function.
   */
  function setupFinishButton() {
    // Get the element with the ID "finishedButton"
    const finishedButton = document.getElementById("finishedButton");

    // Add a click event listener to the "Finished" button
    // When the button is clicked, call the `handleFinishedButtonClick` function
    finishedButton?.addEventListener("click", handleFinishedButtonClick);
  }

  /**
   * Handles the click event of the "Finished" button.
   */
  function handleFinishedButtonClick() {
    window.location.href = "/trivia/trivia-three";
  }

  /**
   * Updates the text content of the element with the class "point" to the
   * current points stored in localStorage. If no points are stored, it
   * defaults to "0".
   */
  function updateCurrentPoints() {
    // Select the element with the class "point"
    const pointSpan = document.querySelector(".point");

    // Set the text content to the current points stored in localStorage, or "0" if no points are stored
    pointSpan!.textContent = localStorage.getItem("PointsRound3") || "0";
  }

  /**
   * Populates the results container with the result items from round 1.
   */
  function populateResults() {
    // Get the results container element
    const resultsContainer = document.getElementById("results-container");

    // If the results container element does not exist, exit the function
    if (!resultsContainer) return;

    // Get the results from round 1 from localStorage
    const resultsRound1 = JSON.parse(localStorage.getItem("ResultsRound3") || "[]");

    // Create a document fragment to improve performance when adding multiple elements to the DOM
    const fragment = document.createDocumentFragment();

    // Iterate over the results and create a result item for each one
    resultsRound1.forEach((result: any, index: any) => {
      const resultItem = createResultItem(result, index);
      fragment.appendChild(resultItem);
    });

    // Append the result items to the results container
    resultsContainer.appendChild(fragment);
  }

  /**
   * Creates a result item element for the given result and index.
   *
   * @param {any} result - The result object.
   * @param {any} index - The index of the result.
   * @return {HTMLDivElement} The created result item element.
   */
  function createResultItem(result: any, index: any) {
    // Create a new div element for the result item
    const resultItem = document.createElement("div");

    // Add the "result-item" class to the element
    resultItem.classList.add("result-item");

    // Set the innerHTML of the element to display the result details
    resultItem.innerHTML = `
      <div class="resultItem">
        <div class="resultPlace ${result.isWrong ? "resultError" : ""}">${index + 1}.</div>
        <img class="resultCover" src="${result.coverSrc}" alt="${result.band} - ${result.album}" width="126" height="126" />
        <div class="resultBand">${result.band}</div>
        <div class="resultAlbum">${result.album}</div>
        <div class="resultData">${result.date}</div>
      </div>
    `;

    // Return the created result item element
    return resultItem;
  }
</script>
