---
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Button from "@components/Shared/Button.astro";
import IntroText from "@components/Shared/IntroText.astro";
import categories from "@json/categories.json";

/**
 * Get the user object from the Astro context
 */
const user = Astro.locals.user;

/**
 * If the user is not logged in, redirect them to the login page.
 */
if (!user) {
  /**
   * Redirect the user to the login page.
   */
  return Astro.redirect("/");
}

/**
 * Get the category parameter from the Astro context.
 * The category parameter is required and determines which category
 * the user wants to play.
 */
const { category } = Astro.params;

/**
 * Find the category object in the categories array that matches the category parameter.
 * If the category is not found, redirect the user to a 404 page.
 */
const currentCategory = categories.find((cat: any) => cat.slug === category);

if (!currentCategory) {
  /**
   * Redirect the user to a 404 page if the category is not found.
   */
  return Astro.redirect("/404");
}
---

<Layout title={`${currentCategory?.headline} Start`}>
  <div slot="left-headercol"></div>

  <IntroText
    headline={`${currentCategory?.headline} gewählt!`}
    subline={currentCategory?.introSubline}
  />

  <div class="category" data-category={currentCategory?.slug}>
    <div class="cover">
      <Picture
        class="coverImage"
        src={currentCategory?.imageUrl as string}
        width={280}
        height={280}
        formats={["avif", "webp"]}
        alt=""
      />
    </div>
    <div class="text">
      {currentCategory?.text}
    </div>

    <div class="centerButton">
      <Button buttonText="weiter" url={`${currentCategory?.slug}/game`} />
    </div>
  </div>
</Layout>

<style lang="scss">
  .introText {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium); /* Verwende deine Spacing-Variablen */
    align-items: center;
    margin-bottom: var(--padding-medium); /* Konsistenter Abstand */
  }

  .headline {
    font-size: var(
      --header-font-size
    ); /* Nutze die Header-Größe aus deinen Variablen */
    font-weight: 900;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0.36px;
  }

  .category {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium); /* Abstand zwischen Cover und Text */
    padding: var(--padding-medium); /* Innenabstand für die Kategorie */
    align-items: center; /* Zentriert den Inhalt */
    background-color: var(--secondary-color); /* Hintergrundfarbe */
    border-radius: var(--border-radius); /* Abrundung */
    box-shadow: var(--box-shadow); /* Optionaler Schatten für Tiefe */
    max-width: 480px; /* Breitenbegrenzung */
    margin: 0 auto; /* Zentriert den Container */
  }

  .cover {
    margin: 0 auto;
  }

  .coverImage {
    border-radius: var(
      --border-radius
    ); /* Verwende deine border-radius Variable */
    width: 100%; /* Bild füllt die verfügbare Breite */
    max-width: 280px; /* Maximalbreite des Bildes */
  }

  .text {
    font-size: var(--body-font-size); /* Nutze deine body-font-size */
    font-weight: 400;
    line-height: 1.5;
    hyphens: auto;
    max-width: 700px; /* Maximalbreite für besseren Lesefluss */
    text-align: center; /* Zentriert den Text */
  }

  .centerButton {
    display: flex;
    justify-content: center;
  }
</style>
