---
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Button from "@components/Shared/Button.astro";
import IntroText from "@components/Shared/IntroText.astro";
import categories from "@json/categories.json";

/**
 * Get the user object from the Astro context
 */
const user = Astro.locals.user;

/**
 * If the user is not logged in, redirect them to the login page.
 */
if (!user) {
  /**
   * Redirect the user to the login page.
   */
  return Astro.redirect("/");
}

/**
 * Get the category parameter from the Astro context.
 * The category parameter is required and determines which category
 * the user wants to play.
 */
const { category } = Astro.params;

/**
 * Find the category object in the categories array that matches the category parameter.
 * If the category is not found, redirect the user to a 404 page.
 */
const currentCategory = categories.find((cat: any) => cat.slug === category);

if (!currentCategory) {
  /**
   * Redirect the user to a 404 page if the category is not found.
   */
  return Astro.redirect("/404");
}
---

<Layout title={`${currentCategory?.headline} Start`}>
  <div slot="left-headercol"></div>

  <IntroText
    headline={`${currentCategory?.headline} gewählt!`}
    subline={currentCategory?.introSubline}
  />

  <div class="category" data-category={currentCategory?.slug}>
    <div class="cover">
      <Picture
        class="coverImage"
        src={currentCategory?.imageUrl as string}
        width={280}
        height={280}
        formats={["avif", "webp"]}
        alt=""
      />
    </div>
    <div class="text">
      {currentCategory?.text}
    </div>

    <div class="buttonHeadline">Wähle deinen Schwierigkeitsgrad</div>
    <div class="centerButton">
      <Button buttonText="Leicht" url={`${currentCategory?.slug}/easy`} />
      <Button buttonText="Mittel" url={`${currentCategory?.slug}/medium`} />
      <Button buttonText="Schwer" url={`${currentCategory?.slug}/hard`} />
    </div>
  </div>
</Layout>

<style lang="scss">
  .introText {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
    margin-bottom: var(--padding-medium);
  }

  .headline {
    font-size: var(--header-font-size);
    font-weight: 900;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0.36px;
  }

  .category {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
    align-items: center;

    max-width: 768px;
    margin: 0 auto;
    padding: var(--padding-medium);

    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  .cover {
    margin: 0 auto;
  }

  .coverImage {
    width: 100%;
    max-width: 280px;
    border-radius: var(--border-radius);
  }

  .text {
    max-width: 600px;

    font-size: var(--body-font-size);
    font-weight: 400;
    line-height: 1.5;
    hyphens: auto;
    text-align: center;
  }

  .buttonHeadline {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
  }

  .centerButton {
    display: flex;
    flex-flow: row wrap;
    gap: var(--padding-medium);
    justify-content: center;
  }
</style>
