---
import { When } from "@astropub/flow";

import PlaylistItem from "@components/PlaylistItem.astro";
import Layout from "@layouts/Layout.astro";
import Help from "@components/HeaderItems/Help.astro";
import categoriesList from "@json/categories.json";

/**
 * Get the user object from the Astro context
 */
const user = Astro.locals.user;

/**
 * If the user is not logged in, redirect them to the login page.
 */
if (!user) {
	/**
	 * Redirect the user to the login page.
	 */
	return Astro.redirect("/");
}

/**
 * This function filters the categoriesList array to only include items that are playable.
 * It then randomly selects one of those items and returns it.
 * @return {Array} An array containing one playable item.
 */
const getSelectedPlayableItem = () => {
  // Filter playable items
  const playableItems = categoriesList.filter((item) => item.isPlayable);


  return playableItems;
};

/**
 * This function filters the categoriesList array to only include items that are not playable.
 * It then shuffles the array and limits it to a maximum of 5 items.
 * @return {Array} An array containing non-playable items.
 */
const getNonPlayableItems = () => {
  // Filter non-playable items
  const nonPlayableItems = categoriesList.filter((item) => !item.isPlayable);

  return nonPlayableItems;
};

// Create an array by combining the selected playable item and the non-playable items
// The selected playable item is randomly selected from the playable items
// The non-playable items are randomly shuffled and limited to a maximum of 5 items
const categories = [...getSelectedPlayableItem(), ...getNonPlayableItems()];

---

<Layout title="Spiel Kategorien">
  <Help slot="left-headercol" />
  <div class="introText">
    <div class="headline">Willkommen <span class="name">{user?.username ?? "Mika"}</span>!</div>
    <div class="subline">Wähle hier ein Genre aus, das du spielen möchtest!</div>
  </div>

  <input class="filterInput" type="search" id="filter-input" placeholder="Suche nach einem Genre">

  <div class="choosePlaylist">
    <When test={categories.length > 0}>
        {
            categories.map((item) => (
                <When test={item.isPlayable}>
                    <a href={item.categoryUrl}>
                        <PlaylistItem headline={item.headline}  image={item.imageUrl} />
                    </a>
                </When>

                <When test={!item.isPlayable}>
                    <PlaylistItem headline={item.headline} image={item.imageUrl} />
                </When>
            ))
        }
    </When>
  </div>
</Layout>

<style>
  .introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-15);
    margin-bottom: var(--spacing-md);
  }

  .headline {
    leading-trim: both;
    text-edge: cap;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.36px;
  }

  .name {
    color: var(--primary-color);
  }

  .subline {
    color: var(--accent-color-4);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
  }

  .choosePlaylist {
    display: flex;
    padding: var(--spacing-s) var(--spacing-s) var(--spacing-md) var(--spacing-s);
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--spacing-3);
  }

  .filterInput {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.36px;
    padding: var(--spacing-s);
    color: var(--background-color);
  }

  .hidden {
    display: none;
  }
</style>

<script>
  /**
   * Adds an event listener to the filter input element.
   * When the user types something, the filterPlaylists function is called.
   */
  const filterInput = document.getElementById('filter-input') as HTMLInputElement;
  filterInput.addEventListener('input', filterPlaylists);

  /**
   * Filters the playlist items based on the user input.
   * If the user input is found in the headline text of the playlist item,
   * the item is displayed, otherwise it is hidden.
   */
  function filterPlaylists() {
    const query = filterInput.value.toLowerCase();
    const playlistItems = document.querySelectorAll('.playlistItem');

    // Loop through each playlist item and check if the headline text
    // contains the user input. If it does, display the item, otherwise
    // hide it.
    playlistItems.forEach((item) => {
      const headlineText = (item as HTMLElement).querySelector('.headline')?.textContent;
      if (headlineText && headlineText.toLowerCase().includes(query)) {
        // Display the item if the headline text contains the search query
        (item as HTMLElement).style.display = 'block';
      } else {
        // Hide the item if the headline text does not contain the search query
        (item as HTMLElement).style.display = 'none';
      }
    });
  }
</script>
