---
import { When } from "@astropub/flow";

import PlaylistItem from "@components/PlaylistItem.astro";
import Layout from "@layouts/Layout.astro";
import categoriesList from "@json/categories.json";

/**
 * Get the user object from the Astro context
 */
const user = Astro.locals.user;

/**
 * If the user is not logged in, redirect them to the login page.
 */
if (!user) {
  /**
   * Redirect the user to the login page.
   */
  return Astro.redirect("/");
}

/**
 * This function filters the categoriesList array to only include items that are playable.
 * It then randomly selects one of those items and returns it.
 * @return {Array} An array containing one playable item.
 */
const getSelectedPlayableItem = () => {
  // Filter playable items
  const playableItems = categoriesList.filter((item) => item.isPlayable);

  return playableItems;
};

/**
 * This function filters the categoriesList array to only include items that are not playable.
 * It then shuffles the array and limits it to a maximum of 5 items.
 * @return {Array} An array containing non-playable items.
 */
const getNonPlayableItems = () => {
  // Filter non-playable items
  const nonPlayableItems = categoriesList.filter((item) => !item.isPlayable);

  return nonPlayableItems;
};

// Create an array by combining the selected playable item and the non-playable items
// The selected playable item is randomly selected from the playable items
// The non-playable items are randomly shuffled and limited to a maximum of 5 items
const categories = [...getSelectedPlayableItem(), ...getNonPlayableItems()];
---

<Layout title="Spiel Kategorien">
  <div class="introText">
    <div class="headline">
      Willkommen <span class="name">{user?.username ?? "Mika"}</span>!
    </div>
    <div class="subline">
      Wähle hier ein Genre aus, das du spielen möchtest!
    </div>
  </div>

  <div class="choosePlaylist">
    <input
      class="filterInput"
      type="search"
      id="filter-input"
      placeholder="Suche nach einem Genre"
    />
    <When test={categories.length > 0}>
      {
        categories.map((item) => (
          <>
            <When test={item.isPlayable}>
              <a href={item.categoryUrl}>
                <PlaylistItem headline={item.headline} image={item.imageUrl} />
              </a>
            </When>

            <When test={!item.isPlayable}>
              <PlaylistItem
                isDisabled={true}
                headline={item.headline}
                image={item.imageUrl}
              />
            </When>
          </>
        ))
      }
    </When>
  </div>
</Layout>

<style lang="scss">
  .introText {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium); /* Verwende die padding-Variable */
    align-items: center;
    margin-bottom: var(--padding-medium); /* Verwende die padding-Variable */
    text-align: center;
  }

  .headline {
    font: 900 var(--header-font-size) / 1.5 var(--font-family); /* Schriftgröße und Familie */
    color: var(--text-color); /* Textfarbe */
  }

  .name {
    color: var(--highlight-color); /* Farbe für den Namen */
  }

  .subline {
    font: 400 var(--body-font-size) / 1.5 var(--font-family); /* Schriftgröße und Familie */
    color: var(--secondary-color); /* Akzentfarbe */
    text-align: center;
    max-width: 700px;
  }

  .choosePlaylist {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-large); /* Verwende das kleinere Padding für Abstand */
    justify-content: center;
  }

  .filterInput {
    width: 100%;
    max-width: 480px;
    margin: 0 var(--padding-medium); /* Verwende deine padding-Variable */
    padding: var(--padding-small); /* Verwende kleine Padding-Variable */
    border: 2px solid var(--highlight-color); /* Rand mit der Highlight-Farbe */
    border-radius: var(--border-radius); /* Abrundungen gemäß Design */
    font: 400 var(--body-font-size) / 1.5 var(--font-family); /* Schriftgröße und Familie */
    color: var(--text-color); /* Textfarbe */
    background-color: var(
      --secondary-color
    ); /* Hintergrundfarbe des Eingabefelds */
    outline: none;
    transition: border-color var(--transition-speed); /* Übergang für den Fokuszustand */
  }

  .filterInput:focus {
    border-color: var(--accent-color-4); /* Akzentfarbe beim Fokus */
  }

  a {
    text-decoration: none;
  }
</style>

<script>
  /**
   * Adds an event listener to the filter input element.
   * When the user types something, the filterPlaylists function is called.
   */
  const filterInput = document.getElementById(
    "filter-input",
  ) as HTMLInputElement;
  filterInput.addEventListener("input", filterPlaylists);

  /**
   * Filters the playlist items based on the user input.
   * If the user input is found in the headline text of the playlist item,
   * the item is displayed, otherwise it is hidden.
   */
  function filterPlaylists() {
    const query = filterInput.value.toLowerCase();
    const playlistItems = document.querySelectorAll(".playlistItem");

    // Loop through each playlist item and check if the headline text
    // contains the user input. If it does, display the item, otherwise
    // hide it.
    playlistItems.forEach((item) => {
      const headlineText = (item as HTMLElement).querySelector(
        ".headline",
      )?.textContent;

      if (headlineText && headlineText.toLowerCase().includes(query)) {
        // Display the item if the headline text contains the search query
        (item as HTMLElement).style.display = "block";
      } else {
        // Hide the item if the headline text does not contain the search query
        (item as HTMLElement).style.display = "none";
      }
    });
  }
</script>
