---
import { Icon } from "astro-icon/components";

import PlaylistItem from "../components/PlaylistItem.astro";
import Layout from "../layouts/Layout.astro";
import Help from "../components/HeaderItems/Help.astro";

import KulturgutCover from "../assets/category/kulturgut.png";
import PopRockCover from "../assets/category/poprock.png";
import PartyOnCover from "../assets/category/partyon.png";
import SummerHitsCover from "../assets/category/summerhits.png";
import TopChartsCover from "../assets/category/topcharts.png";
import HipHopCover from "../assets/category/hiphop.png";
---

<Layout title="Spiel-Home">
  <Help slot="left-headercol" />
  <div class="introText">
    <div class="headline">Willkommen <span class="name">Basti</span>!</div>
    <div class="subline">Wählen Sie eine <span class="whiteText">Playlist</span> zum spielen!</div>
  </div>

  <div class="choosePlaylist">
    <PlaylistItem headline="Kulturgut" years="Alle Jahrzähnte" image={KulturgutCover} />
    <a href="/category"><PlaylistItem headline="PopRock" years="70er bis heute" image={PopRockCover} /></a>
    <PlaylistItem headline="Party On!" years="2010 bis 2024" image={PartyOnCover} />
    <PlaylistItem headline="Summer Hits" years="2023/24" image={SummerHitsCover} />
    <PlaylistItem headline="Top Charts" years="Alle Jahrzähnte" image={TopChartsCover} />
    <PlaylistItem headline="HipHop" years="90er" image={HipHopCover} />
  </div>

  <div class="hint">
    <Icon class="icon" name="spotify" width={24} height={24} /> Spotify Account einbinden um Freunde zu challengen
  </div>
</Layout>

<style>
  .introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-15);
    margin-bottom: var(--spacing-spacing-md);
  }

  .headline {
    color: var(--colour-text-primary);
    leading-trim: both;
    text-edge: cap;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.36px;
  }

  .name {
    color: var(--colour-text-active);
  }

  .subline {
    color: var(--colour-text-secondary, #aeaeae);
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .whiteText {
    color: var(--colour-text-primary);
  }

  .choosePlaylist {
    display: flex;
    padding: var(--spacing-spacing-s) var(--spacing-spacing-s) var(--spacing-spacing-md) var(--spacing-spacing-s);
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--spacing-3);
    border-radius: var(--radius-radius-rounded);
    background: var(--colour-BG-secondary);
  }

  .hint {
    display: flex;
    align-items: center;
    margin-top: var(--spacing-spacing-md);
    color: var(--colour-text-secondary);
    border-top: 2px solid var(--colour-border-disabled, #686868);
    border-bottom: 2px solid var(--colour-border-disabled, #686868);
    padding: var(--spacing-spacing-xxs) 0;
  }

  .icon {
    margin-right: var(--spacing-spacing-xxs);
  }
</style>
