---
import Layout from "@layouts/Layout.astro";
import { getPlayerRank } from "@utils/highscore/getPlayerRank";
import {
  db,
  desc,
  eq,
  User,
  TotalHighscore,
  HighscorePerCategory,
} from "astro:db";
import type { SQLWrapper } from "drizzle-orm";

// Get the user object from the Astro context
const user = Astro.locals.user;

/**
 * If the user is not logged in, redirect them to the login page.
 */
if (!user) {
  /**
   * Redirect the user to the login page.
   */
  return Astro.redirect("/");
}

/**
 * Fetches the top 10 highest scores from the TotalHighscore table,
 * ordered by score in descending order. Also fetches the categories
 * that the user has played from the HighscorePerCategory table,
 * filtered by the user's ID.
 *
 * @returns {Promise<[Array<{TotalHighscore & {User: User}}>, Array<{category: string}>>>}
 * An array containing the top 10 highest scores and the categories the user has played.
 */
const [highscores, playedCategories] = await db.batch([
  // Fetch the top 10 highest scores from the TotalHighscore table
  // ordered by score in descending order.
  db
    .select()
    .from(TotalHighscore)
    // Join the TotalHighscore table with the User table on the userId column.
    .innerJoin(User, eq(TotalHighscore.userId, User.id))
    .orderBy(desc(TotalHighscore.score))
    .limit(10),
  // Fetch the categories that the user has played from the HighscorePerCategory table.
  // Filter the results by the user's ID.
  db
    .select()
    .from(HighscorePerCategory)
    .where(eq(HighscorePerCategory.userId, user!.id)),
]);

// Get an array of category names from the played categories.
const categoriesNamesArray = playedCategories.map(
  (category: { category: any }) => category.category,
);

// Create an object to store the scores for each category.
const scoresByCategory: Record<string, any> = {};

// Loop through each category and create a query to fetch the highscores for that category.
const categoryQueries = categoriesNamesArray.map(
  (category: string | SQLWrapper) => {
    return db
      .select()
      .from(HighscorePerCategory)
      .innerJoin(User, eq(HighscorePerCategory.userId, User.id))
      .where(eq(HighscorePerCategory.category, category))
      .orderBy(desc(HighscorePerCategory.score))
      .limit(10);
  },
);

// Batch the category queries together
/* @ts-ignore */
const categoryScores = await db.batch(categoryQueries);

// Loop through each category and store the scores in the scoresByCategory object.
for (let i = 0; i < categoriesNamesArray.length; i++) {
  scoresByCategory[categoriesNamesArray[i]] = categoryScores[i];
}

/**
 * An object that stores the rank of the current user in each category.
 * The key is the category name and the value is the rank of the user.
 * If the user is not in the top 10, the rank is stored in this object.
 * @type {Record<string, number | null>}
 */
const playerRanks: Record<string, number | null> = {};

/**
 * Loop through each category and get the rank of the current user in that category.
 * The `getPlayerRank` function is used to get the rank of the user.
 * If the user is not in the top 10, the rank is stored in the `playerRanks` object.
 */
for (const category of categoriesNamesArray) {
  const playerRank = await getPlayerRank(user!.id, category);
  if (playerRank && typeof playerRank === "number" && playerRank > 10) {
    /**
     * Store the rank of the user in the `playerRanks` object.
     * The key is the category name and the value is the rank of the user.
     */
    playerRanks[category] = playerRank;
  }
}
---

<Layout title="Highscores">
  <h1 class="highscore-title">Willkommen auf unserer Highscore-Seite!</h1>

  <div class="highscore-intro">
    Hier siehst du die besten Spieler in jeder Kategorie und die Top 10 aller
    Zeiten. Zeige deine Fähigkeiten und arbeite dich an die Spitze, um dir
    deinen Platz in den Ranglisten zu sichern. Ob du ein Spezialist in einer
    bestimmten Musikrichtung bist oder in allen Kategorien glänzen möchtest –
    deine Reise beginnt hier. Viel Erfolg und viel Spaß beim Spielen!
  </div>

  <div class="highscore-container">
    <h2 class="highscore-title">Top 10 Gesamt</h2>
    <table class="highscore-table">
      <thead>
        <tr>
          <th>Platz</th>
          <th>Name</th>
          <th>Punkte</th>
        </tr>
      </thead>
      <tbody>
        {
          highscores.map((score, index) => (
            <tr>
              <td>{index + 1}</td>
              <td>{score.User.username}</td>
              <td>{score.TotalHighscore.score}</td>
            </tr>
          ))
        }
      </tbody>
    </table>

    {
      Object.keys(scoresByCategory).map((category) => (
        <div class="category-highscore">
          <h2 class="category-title">{category}</h2>
          <table class="highscore-table">
            <thead>
              <tr>
                <th>Platz</th>
                <th>Name</th>
                <th>Punkte</th>
              </tr>
            </thead>
            <tbody>
              {scoresByCategory[category].map(
                (
                  score: {
                    User: { username: unknown };
                    HighscorePerCategory: { score: unknown };
                  },
                  index: number,
                ) => (
                  <tr>
                    <td>{index + 1}</td>
                    <td>{score.User.username}</td>
                    <td>{score.HighscorePerCategory.score}</td>
                  </tr>
                ),
              )}
            </tbody>
          </table>
          {playerRanks[category] && (
            <div class="player-rank">
              <p>Deine Platzierung: {playerRanks[category]}. Platz</p>
            </div>
          )}
        </div>
      ))
    }
  </div>
</Layout>

<style lang="scss">
  .highscore-intro {
    max-width: 480px;
    margin: 0 auto 20px;
    padding: var(--padding-medium);

    font-size: var(--body-font-size);
    line-height: 1.5;
    text-align: center;

    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  .highscore-container {
    max-width: 480px;
    margin: 0 auto;
    color: var(--text-color);
  }

  .highscore-title {
    margin-bottom: var(--padding-medium);

    font-size: var(--header-font-size);
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
  }

  .highscore-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: var(--padding-large);
    box-shadow: var(--box-shadow);
  }

  .highscore-table th,
  .highscore-table td {
    padding: var(--padding-medium);
    text-align: left;
    border-bottom: 1px solid var(--error-color);
  }

  .highscore-table th {
    font-weight: bold;
    color: var(--button-text-color);
    background-color: var(--text-color);
  }

  .highscore-table td {
    color: var(--text-color);
    background-color: var(--secondary-color);
  }

  .category-highscore {
    margin-top: var(--padding-large);
  }

  .category-title {
    margin-bottom: var(--padding-medium);

    font-size: var(--header-font-size);
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
  }

  .player-rank {
    margin-top: var(--padding-small);
    padding: var(--padding-small);

    font-weight: bold;
    color: var(--text-color);
    text-align: center;

    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
  }
</style>
