---
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";

import Button from "../Shared/Button.astro";

const { jokerCoverUrl, jokerData, jokerText } = Astro.props;
---

<div class="jokerIcons">
  <div id="joker">
    <Icon name="joker-gold" width={50} height={50} />
  </div>

  <div id="jokeroverlay" class="jokeroverlay">
    <div class="jokercontent">
      <div class="closeRoot">
        <Button id="closeButton" buttonText="close" url="#" />
      </div>
      <div class="jokergroup">
        <Icon name="joker-gold" width={80} height={80} />
      </div>
      <div class="jokeroneheadline">Joker</div>
      <div class="centerButton">
        <Button id="redeemjoker" buttonText="Joker einlösen" url="#" />
      </div>
    </div>
  </div>

  <div id="jokersolution" class="jokersolution">
    <div class="jokersolutioncontent">
      <div class="closeRoot">
        <Icon class="closeIcon" name="joker-gold" width={48} height={48} />
        <Button id="closeButton" buttonText="close" url="#" />
      </div>
      <div class="solutionRoot">
        <div class="solutionCover">
          <Picture src={jokerCoverUrl} width={240} height={240} formats={["avif", "webp"]} alt="" />
        </div>
        <div class="solutionData">{jokerData}</div>
        <div class="solutionText">
          {jokerText}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #joker {
    display: none;
    cursor: pointer;
  }
  .jokerIcons {
    display: inline-flex;
    align-items: top;
    gap: var(--spacing-spacing-s);
  }

  .jokeroverlay,
  .jokersolution {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* ensures overlay is on top */
    visibility: hidden;
  }

  .jokercontent,
  .jokersolutioncontent {
    display: flex;
    width: 366px;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3);
  }

  .jokergroup {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
  }

  .jokeroneheadline {
    color: var(--colour-text-primary);
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
  }

  .closeRoot {
    display: flex;
    align-self: end;
  }

  .closeIcon {
    margin-right: var(--spacing-spacing-xl);
  }

  .solutionRoot {
    display: flex;
    padding: var(--spacing-spacing-s) var(--spacing-spacing-s) var(--spacing-spacing-md) var(--spacing-spacing-s);
    flex-direction: column;
    align-items: start;
    gap: var(--spacing-spacing-md);
    border-radius: var(--radius-radius-rounded);
    background: var(--colour-BG-secondary);
  }

  .solutionCover {
    margin: 0 auto;
    position: relative;
  }

  .share {
    position: absolute;
    bottom: -10px;
    right: -25px;
  }

  .solutionData {
    color: var(--colour-text-gold);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0.36px;
  }

  .solutionText {
    color: var(--colour-text-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  /* Define the shake animation */
  .shake {
    animation: shake 0.5s;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    60% {
      transform: translateX(-10px);
    }
    80% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
</style>

<script>
  // Get references to the necessary DOM elements
  const openJokerOverlay = document.getElementById("joker")!; // The main overlay element
  const jokeroverlay = document.getElementById("jokeroverlay")!; // The overlay element that displays the joker solution
  const jokersolution = document.getElementById("jokersolution")!; // The joker solution element

  const openJokerSolution = document.getElementById("redeemjoker"); // The button that triggers the joker solution overlay
  const closeButton = document.getElementById("closeButton"); // The button that closes the joker solution overlay

  // Set the initial visibility of the overlay and solution to hidden
  jokeroverlay!.style.visibility = "hidden";
  jokersolution!.style.visibility = "hidden";

  // Add event listeners to the main overlay and the joker solution button
  // The event listeners toggle the visibility of the overlay and solution

  /**
   * Event listener for the main overlay element
   * @param {MouseEvent} _event - The mouse event that triggered the listener
   */
  openJokerOverlay.addEventListener("click", (_event: MouseEvent) => {
    jokeroverlay!.style.visibility = "visible";
  });

  /**
   * Event listener for the joker solution button
   * @param {MouseEvent} _event - The mouse event that triggered the listener
   */
  openJokerSolution?.addEventListener("click", (_event: MouseEvent) => {
    jokeroverlay!.style.visibility = "hidden";
    jokersolution!.style.visibility = "visible";
  });

  /**
   * Event listener for the close button
   * @param {MouseEvent} _event - The mouse event that triggered the listener
   */
  closeButton?.addEventListener("click", (_event: MouseEvent) => {
    jokeroverlay!.style.visibility = "hidden";
    jokersolution!.style.visibility = "hidden";
  });
</script>
