---
import { Icon } from "astro-icon/components";
import { When } from "@astropub/flow";
import { Image } from "astro:assets";
import "@fontsource/source-sans-pro/400.css";
import "@fontsource/source-sans-pro/700.css";
import "@fontsource/source-sans-pro/900.css";

interface Props {
  title: string;
  showHeader?: boolean;
  showHeaderIcons?: boolean;
}

const { title, showHeader = true, showHeaderIcons = true } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <When test1={showHeader}>
      <header>
        <div class="slot">
          <When test={showHeaderIcons}>
            <a href="/spielregeln">
              <Icon name="question" width={24} height={22.24} />
            </a>
            <a href="/highscores"
              ><Icon name="trophy" width={24} height={24} />
            </a>
          </When>
          <slot name="left-headercol" />
        </div>
        <div class="logo">
          <a href="/gamehome"
            ><Image alt="" src="/melody-mind.jpg" width={120} height={69} /></a
          >
        </div>
        <div class="iconGroup">
          <When test={showHeaderIcons}>
            <a href="/user"><Icon name="user" width={24} height={24} /></a>
            <form method="post" action="/api/logout">
              <button>
                <Icon name="logout" width={24} height={24} title="Abmelden" />
              </button>
            </form>
          </When>
        </div>
      </header>
    </When>

    <main>
      <slot />
    </main>

    <style lang="scss" is:global>
      :root {
        --secondary-color: #e1e1f0;
        --highlight-color: #fc0;
        --background-color: #a0a4c5;
        --text-color: #2e2e2e;
        --error-color: #ff5733;
        --button-hover-color: #fc0;
        --button-text-color: #fff;
        --font-family: "Source Sans Pro", sans-serif;
        --header-font-size: 1.5em;
        --body-font-size: 1em;
        --button-font-size: 1rem;
        --padding-small: 8px;
        --padding-medium: 16px;
        --padding-large: 32px;
        --border-radius: 12px;
        --box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
        --transition-speed: 0.2s;
      }

      html {
        box-sizing: border-box;
        margin: var(--padding-small);
        font-family: var(--font-family);
        background-color: var(--background-color);
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      body {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        padding: 0 var(--padding-medium);

        font-size: var(--body-font-size);
        line-height: 1.6;
        color: var(--text-color);

        background-color: var(--background-color);
      }

      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--padding-medium);
      }

      a {
        color: var(--text-color);
        text-decoration: none;
      }

      .slot {
        display: flex;
        gap: var(--padding-medium);
        width: 33.3333%;
      }

      .logo {
        gap: var(--padding-medium);
        width: 33.3333%;
        text-align: center;
      }

      .iconGroup {
        display: flex;
        gap: var(--padding-medium);
        align-items: center;
        justify-content: flex-end;

        width: 33.3333%;
      }

      main {
        padding: var(--padding-medium) 0;
        font-size: var(--body-font-size);
        line-height: 1.6;
        color: var(--text-color);
      }

      .hasMargin {
        margin: 0 var(--padding-small);
      }

      .button {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: var(--padding-small) var(--padding-large);

        font-size: var(--button-font-size);
        color: var(--text-color);
        text-decoration: none;

        background-color: var(--highlight-color);
        border: none;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);

        transition:
          transform var(--transition-speed) ease-in-out,
          box-shadow var(--transition-speed) ease-in-out;

        &:hover,
        &:focus-visible {
          transform: scale(1.05);
          background-color: var(--button-hover-color);
          box-shadow: 0 7px 15px rgb(0 0 0 / 30%);
        }
      }

      button {
        cursor: pointer;

        margin: 0;
        padding: 0;

        background: none;
        border: none;
      }

      @media (width >= 600px) {
        body {
          max-width: 600px;
        }

        .logo {
          flex: 1;
          width: auto;
        }

        .iconGroup {
          justify-content: flex-end;
        }
      }
    </style>
  </body>
</html>
