---
import { When } from "@astropub/flow";

import "@fontsource/source-sans-pro/400.css";
import "@fontsource/source-sans-pro/700.css";
import "@fontsource/source-sans-pro/900.css";
import ShowCoins from "@components/Shared/ShowCoins.astro";
import Navigation from "@components/Header/Navigation.astro";
import SEO from "@components/SEO.astro";
import SkipLink from "@components/Shared/SkipLink.astro";
import { getLangFromUrl } from "@utils/i18n";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
  keywords?: string;
  image?: string;
  showHeader?: boolean;
  showHeaderIcons?: boolean;
  showCoins?: boolean;
}

const {
  title,
  description,
  keywords,
  image,
  showHeader = true,
  showHeaderIcons = true,
  showCoins = false,
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="box-border m-0">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={title}
      description={description}
      keywords={keywords}
      image={image}
    />

    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="RKHOWTTO"
      data-honor-dnt="true"
      defer
      is:inline></script>
  </head>
  <body
    class="w-full max-w-6xl mx-auto p-3 md:p-6 text-base leading-7 tracking-wide text-wrap bg-zinc-900 text-zinc-50"
  >
    <SkipLink />

    <When test={showHeader && !showCoins}>
      <Navigation showHeaderIcons={showHeaderIcons} />
    </When>

    <When test={showCoins}>
      <ShowCoins />
    </When>

    <main
      id="main-content"
      class="max-w-full mx-auto py-6 px-0 text-base leading-relaxed text-pretty"
    >
      <slot />
    </main>
  </body>
</html>
